<include file="Public/header" />

<style type="text/css">
    
    .table td{text-align:center;}
    .table th{letter-spacing:4px;}
    .table .dataList:hover{
      background:#FFE4B5;
    }
    .lt_aside_nav dt{
      cursor:pointer;
    }

    #addMan{
        border:1px #19a97b solid;padding:8px 10px;
        transition:background 0.6s;
    }
    #addMan:hover{
      background:#139667;
      color:white;
    }
    #AccountSettinggetnodelist{
      color: #19a97b;
      background: #f8f8f8;
    }
</style>


  <section class="rt_wrap content mCustomScrollbar">
  <div class="rt_content">
    <form action="" method="post">
            <!-- PID -->
            <input type="hidden" name="pid" value="{$Think.get.pid|default=0}"/>
              <section>
                <h2><strong style="color:grey;">添加新节点</strong></h2>
                <ul class="ulColumn2">
                 <li>
                  <span class="item_name" style="width:120px;">功能标题　</span>
                  <input type="text" class="textbox textbox_295" placeholder="简短描述" name="title"/>
                 </li>

                <li>
                  <span class="item_name" style="width:120px;">节点名　</span>
                  <input type="text" class="textbox textbox_295" name="name"/>
                   <span class="errorTips">请注意此选项为相应模块、控制器、方法名称...</span>
                </li>

                 <li>
                  <span class="item_name" style="width:120px;">类型　</span>
                  <select class="select" name="level">
                    <option value="1" class="show1">　　　模块　　　</option>
                    <option value="2" class="show2">　　　控制器　　　</option>
                    <option value="3" class="show3">　　　方法　　　</option>
                  </select>
                 </li>
                 <li>
                  <span class="item_name" style="width:120px;">是否在前台显示：</span>
                  <label class="single_selection"><input type="radio" name="show" value="1" checked />显示</label>
                  <label class="single_selection"><input type="radio" name="show" value="0"/>不显示</label>
                 </li>
                 <li>
                  <span class="item_name" style="width:120px;vertical-align:top;">备注　</span>
                  <textarea placeholder="备注信息" class="textarea" style="width:500px;height:100px;" name="remark"></textarea>
                 </li>
                
                 <li>
                  <span class="item_name" style="width:120px;"></span>
                  <input type="submit" class="link_btn"/>
                 </li>
                </ul>
               </section>
             </div>
            </section>
          </form>
        </div>
      </section>
<script type="text/javascript">
    var pid="{$Think.get.level|default='0'}";
    $('.show'+pid).attr('selected',true);
    $('.select').attr('readonly',true);
</script>
</body>
</html>
