<include file="Public/header" />

<style type="text/css">
    
    .table td{text-align:center;}
    .table th{letter-spacing:4px;}
    .table .dataList:hover{
      background:#FFE4B5;
    }
    .lt_aside_nav dt{
      cursor:pointer;
    }

    #addMan{
        border:1px #19a97b solid;padding:8px 10px;
        transition:background 0.6s;
    }
    #addMan:hover{
      background:#139667;
      color:white;
    }
    
    #<?php echo CONTROLLER_NAME.ACTION_NAME; ?>{
      color:#19a97b;
      background:#f8f8f8;
    }

</style>


<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      
      <form action="" method="get">
        
        <section style="margin:15px;">
          <h2><strong style="color:grey;">用户管理</strong></h2>
          
          <a href="{:U('Index/addUser')}" id="addMan">添加管理员</a>
          <input type="text" class="textbox" name="name" placeholder="管理员用户名" style="margin-left:30px;" value="{$Think.get.name}">
          <input type="submit" value="查询" class="group_btn" id="sub"/>

          <a href="{:U('Index/clearCache')}"><input type="button" class="group_btn" value="清除缓存"/></a>


       </section>
     </form>


     <section>
      <div class="page_title">
       <h2 class="fl">平台管理用户列表</h2>
      </div>
      <table class="table">
       <tr>
          <td>ID</td>
          <td>用户名</td>
          <td>登录邮箱</td>
          <td>所属角色</td>
          <td>最近登录</td>
          <td>操作</td>
       </tr>

      <volist name="data" id="value" >
        
           <tr class="dataList">
              <td>{$value['id']}</td>
              <td>{$value['name']}</td>
              <td>{$value['email']}</td>
              <td>{$value['role_name']|default="无"}</td>
              <td> <?php echo empty($value['current_login_time'])?'暂无信息':date('Y-m-d H:i:s',$value['current_login_time']); ?></td>
              <td>
                <if condition="$value['name'] != C('ADMIN')">
                <a href="{:U('Index/updateUser',array('id'=>$value['id']))}"><span class="v_update">修改</span></a>
                <span class="v_delete" data="{$value['id']}">删除</span>
                </if>
              </td>
           </tr>
      </volist>
      </table>

    </section>
    
    <style type="text/css">
        
        .v_update{
            border:1px solid #19a97b;
            padding:2px 10px;
            color:#19a97b;
            cursor: pointer;
            transition:background 0.8s;
        }
        .v_update:hover{
          background:#19a97b;
          color:white;
        }

        .v_delete{
          border:1px solid red;
          padding:2px 10px;
          color:red;
          cursor: pointer;
          transition:background 0.8s; 
        }

        .v_delete:hover{
          background:red;
          color:white;
        }
        #showPopTxt{cursor: pointer;}
        #error_tip{text-align: center;color:red;}
    </style>

 </div>
</section>

<section class="pop_bg">
    <div class="pop_cont">
     <!--title-->
     <h3>修改小丑奖池</h3>
     <!--content-->
     <div class="pop_cont_input">
      <ul>

       <li>
        <span>奖  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;池</span>
        <input type="text" placeholder="数量" class="textbox" id="pot" />
       </li>
      <li>
        <span>再次输入</span>
        <input type="text" placeholder="数量" class="textbox" id="repot" />
      </li>
       

       <li id="error_tip"></li>
      </ul>
     </div>
     <!--bottom:operate->button-->
     <div class="btm_btn">
      <input type="button" value="确认" class="input_btn trueBtn"/>
      <input type="button" value="关闭" class="input_btn falseBtn"/>
     </div>
    </div>
  </section>

  
<script type="text/javascript">
    $(function(){

       $('.v_delete').on('click',function(){
           
            var id = $(this).attr('data');
            var userLine = $(this);

            $.ajax({
              type:'post',
              url: "{:U('Index/deleteUser')}",
              data: 'id='+id,
              success:function(e){
                  if(e=='success'){
                    userLine.parent().parent().css('display','none');
                  }else{
                    alert('删除失败.请重试');
                  }
              }
            });
       });
     });
</script>  
 
<script type="text/javascript">
  
  
</script>
</body>
</html>
