<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="ishaiua" />
<link rel="shortcut icon" href="/favicon.png">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
<script src="http://libs.baidu.com/jquery/2.1.3/jquery.min.js"></script>
<script src="__PUBLIC__/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
		});
	})(jQuery);
</script>

<script type="text/javascript">
    $(function(){
        $('#<?php echo CONTROLLER_NAME; ?>').nextAll('dd').css('display','block');
        $('.lt_aside_nav dt').on('click',function(){
            var show =  $(this).nextAll('dd').css('display');
            if(show=='block'){
                $(this).nextAll('dd').slideUp();    
            }else{
                 $(this).nextAll('dd').slideDown();    
            }
        });
    });
</script>
<style type="text/css">
    .lt_aside_nav dd{display:none;}
    header .group_btn,header .group_btn:hover{
        background:#2a8467;
        margin-top: 20px; margin-left: 20px; 
        letter-spacing:2px;
        border-radius:3px;
        border: 1px solid rgba(0,0,0,0.2);
    }
  
    header .btn_active{
        box-shadow:1px 1px 3px white;
        background:#366a59;border:1px #0e8f61 solid;
        border: 1px solid rgba(0,0,0,0.2);
    }
     header .btn_active:hover{
       background:#366a59;
    }
</style>
    

</head>
<body>
<!--header-->
<header>
 <h1><img src="__PUBLIC__/images/admin_logo.png"/></h1>
  <a href="{:U('Admin/Index/index')}"><input type="button" value="GM工具" name="" class="group_btn"></a>
 <a href="{:U('GameData/Index/empty')}"><input type="button" value="游戏数据" name="" class="group_btn"></a>
  <a href="{:U('UserData/Index/empty')}"><input type="button" value="用户数据" name="" class="group_btn"></a> 
  <a href="{:U('Income/Index/empty')}"><input type="button" value="收入管理" name="" class="group_btn btn_active"></a> 
   
 <ul class="rt_nav">
  
  
  <li><a href="{:U('Admin/Index/index')}" class="set_icon">账号设置</a></li>
  <li><a href="{:U('Home/Login/logout')}" class="quit_icon">安全退出</a></li>
 </ul>
</header>

<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="">收入管理</a></h2>
 <ul>

 
        <volist name="menu" id="v">
         <li>
           <dl>
            <dt id="{$v['name']}">{$v.title}</dt>
              <volist name="v['child']" id="v1">
                <dd><a href='{:U("$v[name]/$v1[name]")}' id="{$v['name']}{$v1['name']}">{$v1.title}</a></dd>
              </volist>
           </dl>
          </li>
        </volist>
    

    <li>
      <p class="btm_infor">© 版权所有</p>
    </li>

 </ul>
</aside>

